$gray: #a9aeb3;
$heading: #554f50;
$content: #646e7a;

$light-border:#e0e0e0;
$light-color: #fcfcfc;

$bg-info: #e7f1ff;
$bg-secondary: #f0f1f2;
$bg-success: #eafff9;
$bg-danger: #fff6f6;
$bg-warning: #fffaf0;


$text-info: #2e74de;
$text-secondary: #7f868f;
$text-success: #009b75;
$text-danger: #eb3f48;
$text-warning: #a65b16;
