@import './../stylesheet/variable.scss';

:host(app-root) {
    .search {
        .input-group-text {
            border-color: $gray;
            background-color: white;
            border-right: none;
            border-width: 2px;
        }
        .form-control {
            padding: 0;
            border-left: none;
            outline: none !important;
            border-color: $gray;
            border-width: 2px;

            &::placeholder {
                color: $gray;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}