<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <h1 class="mb-0">Transactions</h1>
      <p>View summary and details of your transactions here 
        <i class="bi bi-info-circle-fill"></i>
      </p>
    </div>
    <div class="col-12 mt-5">
      <div class="row justify-content-between">
        <div class="col-3">
          <div class="search">
            <div class="input-group">
              <span class="input-group-text">
                <i class="bi bi-search"></i>
              </span>
              <input type="text" #search placeholder="Search..." class="form-control">
            </div>
          </div>
        </div>
        <div class="col-4 text-end">
          <div class="actions">
            <button class="btn btn-outline-secondary mx-2" [matMenuTriggerFor]="options">
              <i class="bi bi-filter"></i>
              Filter <span [hidden]="statusFilter.length <= 0" class="badge bg-secondary me-1">{{ statusFilter.length }}</span>
              <i class="bi bi-chevron-down"></i>
            </button>
            <mat-menu #options="matMenu">
              <ng-container *ngFor="let option of optionsList">
                <button mat-menu-item (click)="toggleSelectedStatusFilter(option)">
                  <div class="mb-0" [ngClass]="{'t-text-info': statusFilter.includes(option)}">
                    {{ option }}
                  </div>
                </button>
              </ng-container>
            </mat-menu>
            <button (click)="exportToCSV()" class="btn btn-outline-secondary ms-2">
              <i class="bi bi-box-arrow-up"></i>
              Export
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 relative-container my-4">
          <table class="matTable" mat-table [dataSource]="dataSource"
            matSort matSortActive="date" matSortDisableClear matSortDirection="desc">
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
              <td mat-cell *matCellDef="let element">
                {{ element.date | date: "MMM d, h:mm a" }}
              </td>
            </ng-container>
        
            <ng-container matColumnDef="gross_amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>GROSS AMOUNT</th>
              <td mat-cell *matCellDef="let element">
                {{ element.gross_amount | amountWithCentToUsd }}
              </td>
            </ng-container>
        
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
              <td mat-cell *matCellDef="let element">
                <div transactionStatusStyle [status]="element.status">
                </div>
              </td>
            </ng-container>
        
            <ng-container matColumnDef="customer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>CUSTOMER</th>
              <td mat-cell *matCellDef="let element">
                {{ element.customer }}
              </td>
            </ng-container>
        
            <ng-container matColumnDef="swifter_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>SWIFTER ID</th>
              <td mat-cell *matCellDef="let element">
                {{ element.swifter_id }}
              </td>
            </ng-container>
        
            <ng-container matColumnDef="external_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>EXTERNAL ID</th>
              <td mat-cell *matCellDef="let element">
                {{ element.external_id }}
              </td>
            </ng-container>
        
            <ng-container matColumnDef="source">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>SOURCE</th>
              <td mat-cell *matCellDef="let element">
                {{ element.source }}
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="disaplyedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: disaplyedColumns"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell text-center" colspan="7">
                <div class="d-flex justify-content-center align-items-center">
                  <h3 class="mb-0">No Data Found</h3>
                </div>
              </td>
            </tr>

          </table>
          <ng-container *ngIf="isLoading">
            <div class="spinner-container">
              <div class="d-flex justify-content-center align-items-center">
                <mat-spinner class="m-auto" [diameter]="25"></mat-spinner>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row justify-content-between align-items-center">
        <div class="col-4 align-self-center">
          <p class="m-0">Viewing {{ totalRecords > 0 ? ((activePage - 1) * RECORDS_PER_PAGE) + 1 : 0}} 
            to {{ (activePage * RECORDS_PER_PAGE) > totalRecords ? totalRecords : activePage * RECORDS_PER_PAGE }} of {{ totalRecords }} results</p>
        </div>
        <div *ngIf="totalRecords > RECORDS_PER_PAGE" class="col-4 text-end">
          <button 
            (click)="previousPage()"
            *ngIf="activePage > 1" class="btn btn-outline-secondary mx-1 previous">Previous</button>
          <button *ngIf="activePage <= MAXIMUM_PAGE"
            (click)="nextPage()"
            class="btn btn-outline-secondary ms-1 next">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
